     <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

 @if(TempData["Success"]!=null){
        <h3 style="color: brown;"
        >@TempData["Success"]</h3>
        <script type="text/javascript">
            toastr.success('@TempData["Success"]', 'Sucess')
        </script>

    }
 @if(TempData["error"]!=null){
        <h3 style="color: brown;"
        >@TempData["Success"]</h3>
        <script type="text/javascript">
        toastr.error('TempData["error"].', 'Error!')
         </script>
    }